CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
cmake-build-debug/
# CMake file is for linking the external libraries, I am not sure if it should be left out or not.
# CMakeLists.txt